.main{
    display: flex;
    width: 100%;
    background-color: #0A0E13;
}

.main .container{
    width: 11%;
    padding: 1em 2em;
    border: solid 1px #252C32;
}

.main .container .date{
    color: #8FA3B0;
    font-weight: 500;
}

.main .container p{
    color: white;
    font-weight: bold;
}

img{
    width: 40px;
    height: 10px;
    margin-right: 15px;
}

.team-info{
    display: flex;
    margin: 5px 0px;
}