.card-player{
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    background-color: #0F1519;
}

.card-player:hover{
    transform: scale(105%);
}


.card-player .rol-nick_name .rol-img{
    width: 70px;
    height: 70px;
    z-index: 100;
    background-color: transparent;
    opacity: 50%;
    
    
}

.card-player .player-photo{
    width: max-content;
    background-color: transparent;
    margin-bottom: 0.3em;
}

.card-player .rol-nick_name{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3em;
}


.card-player .rol-nick_name .nick_name-name .nick_name{
    font-weight: 600;
    font-size: 2em;
}

.card-player .rol-nick_name .nick_name-name .name{
    font-weight: 600;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.674);
}   


@media (max-width: 1290px){
    .card-player{
        width: 40%;
    }
}

@media (max-width: 1000px){
    .card-player{
        width: 80%;
    }
}