.card-player{
    display: flex;
    width: 50%;
    justify-content: space-between;
    overflow: hidden;
    height: 200px;
    padding: 20px;
    border: solid 0.3px rgba(255, 255, 255, 0.102);
    background-color: transparent;
}

.team-logo{
    width: fit-content;
    height: auto;
    background-color: transparent;
    opacity: 30%;
    position: sticky; 
}

.card-player .rol-nick_name .rol-img{
    width: 3em;
    z-index: 100;
    background-color: transparent;
}

.card-player .player-photo{
    width: max-content;
    background-color: transparent;
    transform: scale(140%);
}

.card-player .rol-nick_name{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-player .rol-nick_name .nick_name-name .nick_name{
    font-weight: 600;
    font-size: 2em;
}

.card-player .rol-nick_name .nick_name-name .name{
    font-weight: 600;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.674);
}   


@media (max-width: 1290px){
    .card-player{
        width: 90%;
    }
}