.card-player{
    display: flex;
    width: 50%;
    justify-content: space-between;
    overflow: hidden;
    height: 265px;
    padding: 20px;
    background-color: transparent;
}

.card-player .background{
    position: fixed;
    width: 50%;
    background-color: transparent;
    overflow: hidden;
    opacity: 30%;
    transform: scale(110%);
}

.card-player .rol-nick_name .rol-img{
    width: 55%;
    z-index: 100;
    height: 30%;
    background-color: transparent;
}

.card-player .player-photo{
    width: max-content;
    background-color: transparent;
    transform: scale(160%);
}

.card-player .rol-nick_name{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-player .rol-nick_name .nick_name-name .nick_name{
    font-weight: 600;
    font-size: 3em;
}

.card-player .rol-nick_name .nick_name-name .name{
    font-weight: 600;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.674);
}   