.main_nav{
    background-color: #111111;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav_img{
    display: flex;
    align-items: center;
}

.tags-container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    height: 20;
    align-items: center;
    margin: 0px 20px;
}

.tags-container p{
    background-color: transparent;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: ease-in-out 0.3s;
}

.tags-container p:hover{
    background-color: #333333;
    border-radius: 10px;
}

button{
    transition: ease-in-out 0.3s;
}

button:hover{
    background: #00C8C8;
}



@media (max-width: 800px) {
    .main_nav .tags-container{
        display: none;
    }
    
}

