.tags-container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 10px;
}

.tags-container p{
    background-color: transparent;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.tags-container p:hover{
    background-color: #333333;
    border-radius: 10px;
}

button:hover{
    background: #00C8C8;
}

