.card-news{
    width: 30%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 10px;
}

.card-news .title{
    width: 90%;
    text-align: center;
}

.card-news:hover{
    animation-name: jump;
    animation-duration: 0.1s;
}

@keyframes jump {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-2px);
    }

    100%{
        transform: translateY(-4px);
    }

}

.card-news img{
    width: 90%;
    padding: 5px;
}

.card-news .title{
    color: white;
    font-weight: 600;
    font-size: 1.6em;
}

@media (max-width: 1000px) {
    .card-news{
        width: 60%;
        height: auto;
    }
}