.card-news{
    width: 30%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.card-news:hover{
    animation-name: jump;
    animation-duration: 0.1s;
}

@keyframes jump {
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(-2px);
    }

}

.card-news img{
    width: 90%;
    padding: 5px;
}

.card-news .title{
    color: white;
    font-weight: 600;
    font-size: 1.6em;
}